<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .container {
            display: flex;
            justify-content: space-around;
        }

        .section {
            border: 1px solid #ccc;
            padding: 10px;
            width: 30%;
            min-height: 200px;
            box-sizing: border-box;
        }

        .task {
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            padding: 8px;
            margin: 8px 0;
            cursor: grab;
        }

        .dragging {
            background-color: lightblue;
        }
    </style>
</head>

<body>

    <h1>Task Tracker</h1>

    <div class="container">
        <div class="section" id="todo-section" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>To Do</h2>

            <!-- Add more tasks as needed -->
        </div>

        <div class="section" id="progress-section" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>In Progress</h2>
            <!-- Add tasks in progress here -->
        </div>

        <div class="section" id="done-section" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Done</h2>
            <!-- Add completed tasks here -->
        </div>
    </div>
    <input type="text" id="taskNameInput" placeholder="Task Name">
    <input type="date" id="taskDueDateInput" placeholder="Due Date">
    <input type="date" id="taskStartDateInput" placeholder="Start Date">
    <input type="text" id="taskDescription" placeholder="description">
    <button onclick="addNewTask()">Add New Task</button>
    <script th:src="@{jquery.min.js}"></script>
    <script>

        let lastTaskId = 0;

        $(document).ready(function () {
            console.log("hhihih");
            fetch(`/api/stasklist`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    organizeTasks(data);
                })
                .catch(error => console.error('Error fetching data:', error));

            function organizeTasks(tasks) {
                tasks.forEach(task => {
                    let newTask = createTaskElement(task);
                    let sectionId;

                    switch (task.stage) {
                        case 'BEFORE':
                            sectionId = 'todo-section';
                            break;
                        case 'START':
                            sectionId = 'progress-section';
                            break;
                        case 'DONE':
                            sectionId = 'done-section';
                            break;
                        default:
                            console.log('Invalid stage:', task.stage);
                            return;
                    }

                    let section = document.getElementById(sectionId);
                    section.appendChild(newTask);
                });
            }

            function createTaskElement(task) {
                let newTask = document.createElement("div");
                newTask.className = "task";
                newTask.draggable = true;

                newTask.id = `${task.id}`;
                lastTaskId = task.id;

                newTask.innerHTML = `
                    <strong>Name:</strong> ${task.title} <br>
                    <strong>Description:</strong> ${task.description} <br>
                `;

                newTask.setAttribute("ondragstart", "drag(event)");

                return newTask;
            }
        });


        // Initialize a global letiable to keep track of the last task ID


        function addNewTask() {
            let taskDescription = document.getElementById("taskDescription").value;
            let taskName = document.getElementById("taskNameInput").value;
            let taskDueDate = document.getElementById("taskDueDateInput").value;
            let taskStartDate = document.getElementById("taskStartDateInput").value;

            if (!taskName || !taskDueDate || !taskStartDate || !taskDescription) {
                alert("Please fill in all fields");
                return;
            }

            let currentDate = new Date().toISOString().split('T')[0];

            if (taskStartDate < currentDate) {
                alert("Start date can't be earlier than the current date");
                return;
            }

            if (taskDueDate < currentDate || taskDueDate < taskStartDate) {
                alert("Due date can't be earlier than the current date or start date");
                return;
            }

            let startDate = new Date(taskStartDate);
            let dueDate = new Date(taskDueDate);
            let totalDays = Math.floor((dueDate - startDate) / (24 * 60 * 60 * 1000)) + 1;
            let actualHours = totalDays * 6;

            for (let i = 0; i <= totalDays; i++) {
                let currentDate = new Date(startDate);
                currentDate.setDate(startDate.getDate() + i);

                if (currentDate.getDay() === 0 || currentDate.getDay() === 6) {
                    actualHours -= 6;
                }
            }

            let taskObject = {
                title: taskName,
                description: taskDescription,
                status: "BEFORE",
                start: taskStartDate,
                end: taskDueDate,
                actual: actualHours,
                expected: 0
            };

            // Increase the last task ID
            lastTaskId++;

            // Add the ID to the taskObject
            taskObject.id = lastTaskId;

            let newTask = document.createElement("div");
            newTask.className = "task";
            newTask.draggable = true;

            // Add an id attribute to the task element
            newTask.id = `${lastTaskId}`;

            newTask.innerHTML = `
        <strong>Name:</strong> ${taskObject.title} <br>
        <strong>Description:</strong> ${taskObject.description} <br>
    `;

            newTask.setAttribute("ondragstart", "drag(event)");

            let todoSection = document.getElementById("todo-section");
            todoSection.appendChild(newTask);

            fetch('/api/task/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(taskObject),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }


        function allowDrop(event) {
            event.preventDefault();
        }

        function drag(event) {
            let sourceSection = event.target.closest('.section');

            if (sourceSection) {
                let sourceId = sourceSection.id;
                event.dataTransfer.setData("text", event.target.innerText);
                event.dataTransfer.setData("sourceId", sourceId);
                event.dataTransfer.setData("draggedElement", event.target.outerHTML);

                event.target.classList.add("dragging");
            } else {
                console.log("Could not find the closest section.");
            }
        }


        function drop(event) {
            event.preventDefault();
            let data = event.dataTransfer.getData("text");
            let sourceId = event.dataTransfer.getData("sourceId");
            console.log(data)
            console.log("Source ID:", sourceId);
        
            let draggedTask = document.querySelector(".dragging");
            console.log(draggedTask)
        
            if (!draggedTask) {
                console.log("Dragged task not found.");
                return;
            }
        
            if (event.target.classList.contains("task")) {
                let dropSection = event.target.closest(".section");
                let dropIndex = Array.from(dropSection.children).indexOf(event.target);
        
                let clonedTask = draggedTask.cloneNode(true);
                clonedTask.classList.remove("dragging");
        
                dropSection.insertBefore(clonedTask, dropIndex > -1 ? dropSection.children[dropIndex] : null);
        
                let sourceSection = document.getElementById(sourceId);

                console.log(dropSection)
                console.log(dropIndex)
                console.log(clonedTask)
                console.log(sourceSection)
        
                if (sourceSection.contains(draggedTask)) {
                    sourceSection.removeChild(draggedTask);
                }
        
                // Get the task ID from the original dragged task's ID attribute
                let taskId = draggedTask.id;
        
                // Get the target section's ID
                let targetSectionId = dropSection.id;
        
                // Call the function to update the task stage on the server
                updateTaskStage(taskId, targetSectionId);
        
                return;
            }
        
            if (event.target.classList.contains("section") && !event.target.classList.contains("title")) {
                let clonedTask = draggedTask.cloneNode(true);
                clonedTask.classList.remove("dragging");
        
                event.target.appendChild(clonedTask);
        
                let sourceSection = document.getElementById(sourceId);
        
                if (sourceSection.contains(draggedTask)) {
                    sourceSection.removeChild(draggedTask);
                }
        
                // Get the task ID from the original dragged task's ID attribute
                let taskId = draggedTask.id;
        
                // Get the target section's ID
                let targetSectionId = event.target.id;
        
                // Call the function to update the task stage on the server
                updateTaskStage(taskId, targetSectionId);
            }
        }
        
        
        function updateTaskStage(taskId, targetSectionId) {
            let newStage;
        
            switch (targetSectionId) {
                case 'todo-section':
                    newStage = 'BEFORE';
                    break;
                case 'progress-section':
                    newStage = 'START';
                    break;
                case 'done-section':
                    newStage = 'DONE';
                    break;
                default:
                    console.log('Invalid target section:', targetSectionId);
                    return;
            }
        
            // Call your API to update the task stage on the server
            fetch(`/api/task/updateStage/${taskId}/${newStage}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            });
        }
        


    </script>

</body>

</html>